---
layout: search
title: 'Search'
---

<form class="form-inline" id="site_search" action="/search.html" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-input" name="query">
    <div id="results-container"></div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="collapse" data-target=".nav-collapse">Search</button>
</form>

<ul id="search-results"></ul>

<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author | xml_escape }}",
        "tags": "{{ post.tags | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
<script src="/assets/js/lunr.js"></script>
<script src="/assets/js/search.js"></script>